Lenguajes de Marcas/XML/XSD/Ejer8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wmh="http://www.wmhelp.com/2003/eGenerator" elementFormDefault="qualified">
  <xs:element name="empleados">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="empleado" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="apellido1"/>
        <xs:element ref="apellido2"/>
        <xs:element ref="edad"/>
        <xs:element ref="puesto"/>
        <xs:element ref="salario"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nombre" type="xs:string"/>
  <xs:element name="apellido1" type="xs:string"/>
  <xs:element name="apellido2" type="xs:string"/>
  <xs:element name="edad" type="xs:string"/>
  <xs:element name="puesto">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="antiguedad" type="xs:string"/>
          <xs:attribute name="tipo" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="salario">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="tipo" type="xs:string" use="required"/>
          <xs:attribute name="periodicidad" type="xs:string" use="required"/>
          <xs:attribute name="plus" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
