Lenguajes de Marcas/XML/XSD/Ejer2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Elementos globales -->
  <xs:element name="libro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="capitulo" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="capitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titulo"/>
        <xs:element ref="subcapitulo" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="subcapitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titulo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="titulo" type="xs:string"/>

</xs:schema>