Lenguajes de Marcas/XML/XSD/Ejer11.dtd

<!ELEMENT envio (poliza+)>
<!ELEMENT poliza (numero,tomador,asegurado+)>
<!ATTLIST poliza externa  CDATA #IMPLIED>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT tomador (#PCDATA)>
<!ELEMENT asegurado (garantia*)>
<!ATTLIST asegurado nombre  CDATA #REQUIRED>
<!ATTLIST asegurado apellidos  CDATA #REQUIRED>
<!ELEMENT garantia (tipo,capital)>
<!ATTLIST garantia vigor  (S|N) "N">
<!ELEMENT tipo (#PCDATA )>
<!ELEMENT capital (#PCDATA )>