Lenguajes de Marcas/XML/Ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="source">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AAA" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AAA">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="BBB"/>
        <xs:element ref="CCC"/>
      </xs:choice>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="pos" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BBB">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CCC"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CCC">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="DDD" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DDD">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
