Lenguajes de Marcas/XML/DTD/Ejer3.dtd

<!ELEMENT empleados (empleado+)>
<!ELEMENT empleado (nombre,apellidos,puesto,permanencia,proyectos?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>

<!ELEMENT puesto (#PCDATA)>
<!ATTLIST puesto categoria CDATA #REQUIRED>

<!ELEMENT permanencia EMPTY>
<!ATTLIST permanencia tiempo CDATA #REQUIRED>
<!ELEMENT proyectos (proyecto+)>
<!ELEMENT proyecto (#PCDATA)>
<!ATTLIST proyecto tipo CDATA #REQUIRED>
