Lenguajes de Marcas/DTD_Examen/Ejer2.dtd

<!ELEMENT Pedido (Destino,Ordenante,Observaciones,Contenido)>
<!ATTLIST Pedido fecha CDATA #REQUIRED xmlns CDATA #REQUIRED>
<!ELEMENT Destino (Nombre,Direccion,Ciudad,CodPostal)>

<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Direccion (#PCDATA)>
<!ELEMENT Ciudad (#PCDATA)>
<!ELEMENT CodPostal (#PCDATA)>

<!ELEMENT Ordenante (Nombre,Direccion,Ciudad,CodPostal)>

<!ELEMENT Observaciones (#PCDATA)>
<!ELEMENT Contenido (Producto+)>
<!ELEMENT Producto (Nombre,Cantidad,Precio,Observaciones?)>
<!ATTLIST Producto codigo NMTOKEN #REQUIRED>

<!ELEMENT Cantidad (#PCDATA)>
<!ELEMENT Precio (#PCDATA)>
